body {
    background-color: #e7f3ff;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,123,255,0.3);
}

h2 {
    text-align: center;
    color: #007bff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
